{% extends 'base.html' %}

{% block content %}
<div class="row mwide twide">
    <div class="col wide">
        <h2 id="pagetitle"></h2>
        <div id="groups" style="margin-left: 30px;">
            <div class="block__list-title" >
                Liste des voies et leurs doublons
            </div>
            <ul id="list">
            </ul>

            <div class="block__list-title">
                Voies sélectionnées
            </div>
            <ul id="select">
                <input type="button" value="OK"/>
            </ul>
        </div>
    </div>
</div>

<script>
    BAN.displayGroups();
</script>
{% endblock content %}