{% extends 'base.html' %}

{% block content %}
<h2 id="pagetitle"></h2>

<div id="groups" class="reliability_container">
    <div class="block__list">
        <div class="block__list-title" >
            <h4>Voies de la commune et alertes</h4>
        </div>
        <ul class="block__list-content" id="list">
        </ul>
    </div>
    <div class="block__list">
        <div class="block__list-title">
            <h4>Sas de fiabilisation <span class="glyphicon glyphicon-info-sign"
                    title="Pour une même voie, rajouter les doublons identifiés et sélectionner le bon libellé ou celui qui correspond à la bonne voie et renseigner le libellé correctement"</h4>
        </div>
        <ul class="block__list-content" id="select">
        </ul>
        <div class="block_end">
            <input type="text" placeholder="nom de la voie" />
            <input type="button" value="OK"/>
        </div>
    </div>
</div>

{% include 'helper/updategroups.html' %}
{% include 'helper/removegroups.html' %}

<script>
    BAN.displayGroups("{{ groups }}");

</script>
{% endblock content %}