/* ************************************************* */
/* *********************** FONT ******************** */
/* ************************************************* */
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../font/OpenSans-Semibold-webfont.eot');
    src: url('../font/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../font/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../font/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansextrabold_italic';
    src: url('../font/OpenSans-ExtraBoldItalic-webfont.eot');
    src: url('../font/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
         url('../font/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
         url('../font/OpenSans-ExtraBoldItalic-webfont.svg#open_sansextrabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url('../font/OpenSans-SemiboldItalic-webfont.eot');
    src: url('../font/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
         url('../font/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
         url('../font/OpenSans-SemiboldItalic-webfont.svg#open_sanssemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('../font/OpenSans-Regular-webfont.eot');
    src: url('../font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-Regular-webfont.woff') format('woff'),
         url('../font/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../font/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url('../font/OpenSans-Light-webfont.eot');
    src: url('../font/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-Light-webfont.woff') format('woff'),
         url('../font/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../font/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight_italic';
    src: url('../font/OpenSans-LightItalic-webfont.eot');
    src: url('../font/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('../font/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('../font/OpenSans-LightItalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansitalic';
    src: url('../font/OpenSans-Italic-webfont.eot');
    src: url('../font/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-Italic-webfont.woff') format('woff'),
         url('../font/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('../font/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansextrabold';
    src: url('../font/OpenSans-ExtraBold-webfont.eot');
    src: url('../font/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('../font/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('../font/OpenSans-ExtraBold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold';
    src: url('../font/OpenSans-Bold-webfont.eot');
    src: url('../font/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-Bold-webfont.woff') format('woff'),
         url('../font/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../font/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold_italic';
    src: url('../font/OpenSans-BoldItalic-webfont.eot');
    src: url('../font/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('../font/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('../font/OpenSans-BoldItalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* ************************************************* */
/* ******************** GENERIC RULES ************** */
/* ************************************************* */
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
body,
input,
textarea {
  color:#404040;
  color:rgba(0,0,0,0.75);
  font:15px/20px 'open_sansregular', sans-serif;
  -webkit-font-smoothing:antialiased;
}
div, ul, li, a, section, nav,
h1, h2, h3, h4, h5, h6,
hr, input, textarea, footer, header {
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
hr {
    clear: both;
    width: 100%;
    height: 0;
    max-width: 980px;
    margin: 28px auto;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ddd;
    border-image: none;
    border-style: solid;
    border-width: 1px 0 0;
}
ol, ul {
    list-style: none;
}
h2, h3 {
    margin-bottom: 15px;
    line-height: 1.2em;
}
h4, h5 {
    margin-bottom: 5px;
}
h1 {
    line-height: 1em;
}
h1, h2, h3, h4, h5 {
    font-family: 'open_sansbold';
    font-weight: normal;
}
strong {
    font-family: "open_sansbold";
    font-weight: normal;
}
a {
    color: #333;
}
img {
    max-width: 100%;
}
table {
    width: 100%;
    border: 1px solid #eee;
}
table td, table th {
    text-align: center;
}
table tr:nth-child(odd) {
    background-color: #eee;
}
table tr th {
    background-color: #ccc;
}

/* ************************************************* */
/* *********************** GRID ******************** */
/* ************************************************* */
.row {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.row + .row {
    margin-top: 40px;
}
.col {
    flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
}
.col + .col {
    padding-left: 40px;
}
html[dir='rtl'] .col + .col {
    padding-left: 0;
    padding-right: 40px;
}
.half {
    width: 50%;
}
.third {
    width: 33.33%;
}
.two-third {
    width: 66.66%
}
.quarter {
    width: 25%;
}
.wide {
    width: 100%;
    padding-right: inherit;
}
.mshow, .tshow {
    display: none;
}
.flow {
    display: -webkit-flex;
    display: flex;
}
.flow * + * {
    margin-left: 5px;
}


/* ************************************************* */
/* ********************** FORMS ******************** */
/* ************************************************* */
input[type="text"], input[type="password"], input[type="date"],
input[type="datetime"], input[type="email"], input[type="number"],
input[type="search"], input[type="tel"], input[type="time"],
input[type="url"], textarea {
    background-color: white;
    border: 1px solid #CCCCCC;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-family: inherit;
    font-size: 14px;
    height: 50px;
    margin: 0 0 14px;
    padding: 7px;
    width: 100%;
}
input[type="submit"],
.button {
    border: none;
    border-radius: 2px;
    padding: 0 10px;
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
    background-color: #6C7A89;
    display: inline-block;
    margin-top: 10px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}
input[type="submit"].action,
.button.action {
    background-color: #336E7B;
}
input[type="submit"].warning,
.button.warning {
    background-color: #D91E18;
}
input[type="submit"].neutral,
.button.neutral {
    background-color: #E0E0D1;
    color: #666;
}
input[type="submit"]:hover,
.button:hover {
    background-color: #95A5A6;
    color: #fff;
}
input[type="submit"].warning:hover,
.button.warning:hover {
    background-color: #EF4836;
}
textarea {
    height: 200px;
}
select {
    width: 100%;
    background-color: #fff;
    height: 28px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.75);
    border: 1px solid #ddd;
    margin-bottom: 15px;
}
select[multiple="multiple"] {
    height: auto;
}
label.required:after {
    content: ' *';
    color: #D35400;
    font-size: 1.2em;
    line-height: 1em;
    float: right;
}
.help-text, .helptext {
    display: block;
    padding: 7px 7px;
    margin-top: -14px;
    margin-bottom: 14px;
    background: #ddd;
    color: #6f6f6f;
    font-size: 11px;
    border-radius: 0 2px;
}


/* ************************************************* */
/* *************** HEADER & FOOTER ***************** */
/* ************************************************* */

.container {
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;

  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
}
.main {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
    padding: 10px;
}
nav {
    background-image: url('../img/logo.jpg');
    background-repeat: no-repeat;
    background-position: top 10px center;
    padding: 20px;
    padding-top: 80px;
    background-color: #fefefe;
    border-right: 1px solid #ddd;
    color: #333;
    width: 400px;
    -ms-flex: 0 100px;
    -webkit-box-flex:  0;
    -moz-box-flex:  0;
    -ms-box-flex:  0;
    box-flex:  0;
}
nav > div {
    position: fixed;
}
nav a {
    color: #333;
    text-decoration: none;
    font-family: 'open_sansbold';
    font-weight: normal;
}
nav section {
    align-self: center;
    display: -webkit-flex;
    display: flex;
}
nav a h1 {
    font-size: 40px;
    font-family: 'open_sanslight';
    font-weight: normal;
    height: 50px;
    margin-bottom: 30px;
}
nav .menu a:hover {
    text-decoration: underline;
}

