
.multigrid {
    flex-direction: column;
    width: 100%;
}

.multigrid input[type='button'] {
    display: inline-block;
    margin:10px;
    border-radius:10px 0px;
    width: 100px;
    height: 30px;
    background: #D19EA2;
    text-align: center;
}

.multigrid [type="button"]:disabled {
    color: grey;
}

.buttonHidden {
    display: none;
}

.multigrid .buttonIcon {
    background: #D19EA2;
    border-width: 2px;
    padding: 5px;
    border-style: outset;
    border-radius:10px 0px;
    cursor: pointer;
    text-align: center;
}

.multigrid .buttonIcon:active {
    border-style: inset;
}

.multigrid .moveAll .buttonIcon {
    width:100%;
}

.multigrid .block__search {
    border: 2px solid black;
    background: #D19EA2;
    border-radius:10px 10px;
    margin: auto;
    margin-top: 10px;
    margin-bottom : 10px;
    width: 99%;
}

.multigrid .block__search-accordion {
    border-radius:10px 10px 0px 0px;
    height: 20px;
}

.multigrid .block__search-content {
    width: 100%;
    border-radius:0px 0px 10px 10px;
    height: 100px;
}

.multigrid .block__search-content input[name="words"] {
    width: 200px;
    height: 30px;
}

.multigrid .grid_content {
    display:flex;
    width: 100%;
}

.multigrid .block__list{
    border-radius:10px 10px;
    width: 49%;
    margin: auto;
    height: 500px;
}

.multigrid .block__list-title h4{
    text-align: center;
    border: 2px solid black;
    border-radius:10px 10px;
    line-height:50px;
    background: #D19EA2;
}

.multigrid .block__list-content {
    border-radius:10px 10px;
    line-height:40px;
    overflow: auto;
    border: 2px solid black;
}

.multigrid .block__list-content ul {
    width: 98%;
}

.multigrid .block__list-content li {
    display:flex;
    border: 2px solid black;
    background: #D19EA2;
    border-radius:10px 10px 10px 10px;
    padding: 0px 5px;
    margin: 5px;
    width: 98%;
}

.multigrid .block__list-content ul ul {
    width: 100%;
}

.multigrid .block__list-content li li{
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
}

.multigrid #listUpdate .not_displayed_in_pagination,
.multigrid #listUpdate .no_group,
.multigrid #listUpdate .no_group_found {
    display:none;
}

.multigrid .block__list-content input[type="radio"]{
    margin:5px;
}

.multigrid .block__list-content .groupname {
    width:75%;
}

.multigrid .block__list-content .groupiconafter {
    width:25%;
}

.multigrid .glyphicon-warning-sign,
.multigrid .glyphicon-info-sign {
    cursor: help;
    margin-right: 5px;
}

.multigrid .groupname .buttonIcon {
    margin-right: 5px;
}

.multigrid .block__end {
    height:10%;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    border: 2px solid black;
    border-top: none;
}

.multigrid .block__end .buttonIcon{
    margin-top: 10px;
}

.multigrid .block__end input[type="button"] {
    width: 200px;
    text-align: center;
}

.multigrid #listUpdate {
    height:100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: none;
}

.multigrid #listSelect {
    height:100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: none;
}

.multigrid #listSelect .updatebtn {
    display: none;
}

.multigrid #listUpdate .block__all {
    display:none;
}

.multigrid #listUpdate [class="block__all block__all_display"] {
    display:flex;
}

.multigrid #listUpdate .word_not_found {
    display:none;
}

