
.container #groups {
    display:flex;
    flex-direction: column;
    width: 100%;
}

#groups input[type='button'] {
    display: inline-block;
    margin:10px;
    border-radius:10px 10px;
    width: 100px;
    height: 30px;
    background: #A2BBD6;
    background-image:radial-gradient(#D19EA2, white, #A2BBD6);
    text-align: center;
}

.headerpage h2,
.headerpage h3 {
    text-align: center;
}

.block__filter {
    border-radius:10px 10px;
    margin: auto;
    margin-top: 10px;
    margin-bottom : 10px;
    width: 95%;
}

.block__filter-accordion {
    border-radius:10px 10px 0px 0px;
    height: 20px;
    background-image:radial-gradient(#D19EA2, white, #A2BBD6);
}

.block__filter-content {
    width: 100%;
    border-radius:0px 0px 10px 10px;
    height: 100px;
    background-image:radial-gradient(#D19EA2, white, #A2BBD6);
}

.block__filter-content input[name="words"] {
    width: 200px;
    height: 30px;
}

.grid {
    display:flex;
    width: 100%;
}

.block__list{
    border-radius:10px 10px;
    width: 45%;
    margin: auto;
    height: 500px;
}

.block__list-title h4{
    text-align: center;
    border-radius:10px 10px;
    line-height:50px;
    background: #D19EA2;
    background-image:radial-gradient(#D19EA2, white, #A2BBD6);
}

.block__list-content {
    line-height:40px;
    overflow: auto;
}

.block__list-content li{
    display:flex;
    background: #A2BBD6;
    background-image:linear-gradient(15deg, #A2BBD6, white, #D19EA2);
    border-radius:10px 10px 10px 10px;
    padding: 0px 5px;
    margin: 5px;
}

.block__list-content li:hover{
    /* cursor: -Moz-Grab; */
}

.block__list-content li:active{
    /* cursor: -Moz-Grabbing; */
}

.block__list-content input[type="radio"]{
    margin:5px;
}

.block__list-content .groupname {
    width:75%;
}

.block__list-content .groupiconafter {
    width:25%;
}

.block__list-content .groupiconafter .glyphicon,
.block__list-content .groupname .glyphicon-hand-left {
    border-width: 1px;
    padding: 5px;
    border-style: outset;
    border-radius:5px 5px;
}

.groupiconafter .glyphicon,
.glyphicon-hand-left {
    cursor: pointer;
}

.block__list-content .groupiconafter .glyphicon:active,
.block__list-content .groupname .glyphicon-hand-left:active {
    border-style: inset;
}

.glyphicon-warning-sign,
.glyphicon-info-sign {
    cursor: help;
}

.groupname .glyphicon {
    margin-right: 5px;
}

.block__list-content .children{
    margin-left: 20px;
}

#list {
    height:100%;
}

#select {
    height:90%;
}

.block__end {
    height:10%;
    text-align: center;
}

#groups .block__end input[type="button"] {
    width: 200px;
    text-align: center;

}

.block__end input[type="button"]:disabled{
    color: grey;
}

#select .updatebtn {
    display: none;
}