
<a href="#" onClick="N.moveFirst()"><i class="glyphicon glyphicon-fast-backward buttonIcon buttonHidden" title="Première page"></i></a>
<a href="#" onClick="N.movePrevious()"><i class="glyphicon glyphicon-backward buttonIcon buttonHidden" title="Page précédente"></i></a>
<span id="numPage">1</span>/<span id="nbPage">1</span>
<a href="#" onClick="N.moveNext()"><i class="glyphicon glyphicon-forward buttonIcon" title="Page suivante"></i></a>
<a href="#" onClick="N.moveLast()"><i class="glyphicon glyphicon-fast-forward buttonIcon" title="Dernière page"></i></a>
